# Введение

Краткая справка: 
Код пишется в блоках ниже. 
Код запускается нажатием __shift+enter__

In [1]:
print "Printing: " + "здесь напишите то, что хотите увидеть"

Printing: здесь напишите то, что хотите увидеть

# Основы python

## операции

In [8]:
print 1+1
print 2+3

print 2-3
print 5-10

2
5
-1
-5

In [7]:
print 2*3
print 5*10

# строчки ниже - возведение в степень
print 2**10
print 3**3

6
50
1024
27

Питон поддерживает длинную арифметику "из коробки"

In [9]:
print 12**1234

512457227660167652919721216816298450174082579578141321414949405057376701667864944761946512604878280970954895517166660784669535067223776456995955367539450864513317608107459099530181582907549083015757513460695798749619562450736053146868171870251599313177981845657548585765554078334956377334446910990143952144627431424418746280088728554377476598885356187784547299171800766083569138013272203518042882085661164825284152702064013923237334020997919430381708552278707763648774321918404687260445188855608577257870167224513353440101231509405764502749723340699501026999490254558171129110247489696851219515119346549938559274426812749750560286664023034961804812216630491334788741110907635367662320278106636213136164039583026517516941050248797023068140570535141543124368007868639068641651344166307446804891693896722089788471612463756501862347598685490276574906110846963337013328297278639921470526279912175409596013438428162150685223262482022818573344642493674086259433546546657265530526028524650085879056539966802039733915080922533271458566188380967816906549893479078430521414735637870314289422433695525660309191669609698010791353542267282196962430513568872515694514447210163857531873274898322299277805373915319921462559628044902807941560828510135034938404952418245928010254583321021897876964693254202875162790732917865457123208507570741590360064

Отдельного внимания заслуживает деление. 

Оператор деления является целочисленным делением, если оба его операнда являются целыми числами. 
Если хотябы один из операндов является числом с плавающей запятой, результатом деления является также число с плавающей запятой.

In [10]:
print "15/4=", 15/4
print "15.0/4=", 15.0/4
print "15/4.=", 15/4.
print "15.0/4.0=", 15.0/4.0

15/4= 3
15.0/4= 3.75
15/4.= 3.75
15.0/4.0= 3.75

__%__ - остаток от деления

In [11]:
print "15 =", 15/4, "* 4 +", 15%4

15 = 3 * 4 + 3

# Задания

## Посчитать площадь прямоугольника со сторонами 15.342 и 51.223

In [12]:
print ???

785.863266

## Посчитать объем цилиндра с радиусом 221 и высотой 14 
Note: считать
$$\pi=3.14$$

In [15]:
print ???

2147050.36

## Посчитать тангенс угла A с противолежащим катетом 25 и прилежащим катетом 6

## * Посчитать площадь правильного тринадцатиугольника с радиусом описанной окружности 220

# Переменные

Питон поддерживает переменные "тип" переменных. Однако в отличие от многих других языков питон является языком с "динамической типизацией", т.е. тип переменной определяется в момент присваивания значения

In [19]:
a = 1
b = 1.2
c = "Stroka"
d = 'Drugaia stroka'

print type(a), "a =", a 
print type(b), "b =", b 
print type(c), "c =", c 
print type(d), "d =", d 

# целочисленной переменной можно присвоить значение строки, и у нее сменится тип:
a = 'Теперь строка'
print
print type(a), "a =", a

<type 'int'> a = 1
<type 'float'> b = 1.2
<type 'str'> c = Stroka
<type 'str'> d = Drugaia stroka

<type 'str'> a = Теперь строка

# Задачи

## Поменять местами значение двух переменных

In [20]:
a = 1
b = 2
# Весь ваш код должен быть ниже этого комментария

# Весь ваш код должен быть выше этого комментария
print "a =", a
print "b =", b

a = 2
b = 1

# Условия

В питоне идентефикатором "блока" является отступ. При объявлении блока __if__ все, что дальше будет считаться внутри условия.

In [21]:
if False:
    print "Это не напечатается"
print "А это напечатается"

if True:
    print "Внутри блока"
print 'Снаружи блока'

А это напечатается
Внутри блока
снаружи блока

Полностью условные операторы выглядят как __if:__   __elif:__ __else:__

In [22]:
a = 1
if a < 0:
    print 'negative'
elif a < 1:
    print 'in [0,1)'
elif a > 10:
    print 'a > 10'
else:
    print 'in [1,10]'

in [1,10]

Переменные с условиями поддерживают операции __or__ , __and__ , __not__

In [27]:
a = True
b = False

if a and b:
    print 'a and b'
if a and a:
    print 'a and a'
if b and b:
    print 'b and b'

print 
    
if a or b:
    print 'a or b'
if a or a:
    print 'a or a'
if b or b:
    print 'b or b'

print
    
if a and not b:
    print 'a and not b'
if not a and b:
    print 'not a and b'

a and a

a or b
a or a

a and not b

# Задачи

## даны координаты x,y. Узнать, лежит ли точка в круге радиусом 2 с центром с точке (2,2)

In [28]:
x = 3
y = 2

# Весь ваш код должен быть ниже этого комментария

# Весь ваш код должен быть выше этого комментария

yes

# Контейнеры

## Туплы

Тупл (по нашему - кортеж), это список фиксированной длины. Например, точка

In [30]:
print (1,2)

print (1,2,3)

(1, 2)
(1, 2, 3)

Элементы тупла можно прочитать "по индексу", но нельзя модифицировать:

In [32]:
p = (1,2)

print p[0]
print p[1]

# TypeError: 'tuple' object does not support item assignment
# p[1] = 123

1
2

Туплы созданы для хешируемых списков, а так же для некоторого синтаксического сахара:

In [33]:
x = 0
y = 1

x,y = (y,x)

print "x =", x, "y =", y

x = 1 y = 0

## Списки

Списки - это именно то, что кажется: контейнер с индексами и произвольным доступом.

In [35]:
l = [1,2,3,4]
print l

print l[1], l[3]

[1, 2, 3, 4]
2 4

Списки могут содержать элементы разных типов:

In [36]:
print [1, 2.0, 'qwe']

[1, 2.0, 'qwe']

Списки можно склеивать, можно брать подсписки по разным правилам:

In [39]:
l = [1,2,3,4,5] + [6,7,8,9]
print l

print "from 1 to 3:", l[1:3]
print "from begin to 3:", l[:3]
print "from 1 to end:", l[1:]
print "from begin to last by one:", l[:-1]
print 
print "from end to 5 by one in reverse order:", l[:5:-1]
print "reverse list:", l[::-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]
from 1 to 3: [2, 3]
from begin to 3: [1, 2, 3]
from 1 to end: [2, 3, 4, 5, 6, 7, 8, 9]
from begin to last by one: [1, 2, 3, 4, 5, 6, 7, 8]

from begin to 5 by one in reverse order: [9, 8, 7]
reverse list: [9, 8, 7, 6, 5, 4, 3, 2, 1]

списки можно генерировать командой range:

In [40]:
print range(5)
print range(3,5)
print range(3,10,2)
print range(5,3,-1)

[0, 1, 2, 3, 4]
[3, 4]
[3, 5, 7, 9]
[5, 4]

## Словари

Словари - это ассоциативный контейнер "ключ" - "значение". Ключом может выступать любой хешируемый объект, значением любой объект.

In [42]:
d = { "one" : 1, "two" : 2, "three": 3}
print d 

print 'd["one"] =', d["one"]

d["four"] = 4
print d

{'three': 3, 'two': 2, 'one': 1}
d["one"] = 1
{'four': 4, 'three': 3, 'two': 2, 'one': 1}

In [44]:
d = { "one" : 1, "two" : 2, "three": 3}
key = "two"
if key in d:
    print "value:",d[key]
else:
    print "key not found"

key = "four"
if key in d:
    print "value:",d[key]
else:
    print "key not found"

value: 2
four not found

# Задачи

## Напечатать список всех четных чисел от 0 до 100 включительно

## Заполнить словарь ключами - натуральными числами до 20, значениями - квадратами этих чисел

# Циклы

## итеративный

Цикл __for__ проходит по итерируемому контейнеру.

In [46]:
for i in [1,2,3]:
    print i
print
for i in range(5):
    print i

1
2
3

0
1
2
3
4

In [47]:
for i in {"one": 1, "two": 2}:
    print i

two
one

In [49]:
d = {"one": 1, "two": 2}
for i in d:
    print i, ":", d[i]

two : 2
one : 1

## Условный

## Цикл __while__ выполняется пока верно условие

In [50]:
i = 5
while i > 0:
    print i
    i = i - 1

5
4
3
2
1

# Задачи

## Напечатать все натуральные числа от 0 до 100 включительно, кратные и 3-м и 5-и

## Напечатать все натуральные числа от 0 до 100 включительно, кратные 3-м но не кратные 5-и

## Найти сумму натуральных чисел от 0 до n включительно

In [ ]:
n = 10
s = 0
for i in range(n+1):
    s += ???
print s

## Найти сумму $$ \sum_{i=1}^{n}{\frac{1}{i}}$$

## Для заданного $n$ вывести все такие $k$, что $n \ge k $ и  $k$ - точный квадрат натурального числа

In [ ]:
n = 20

Числа Фибоначи определяются следующим образом:
$$F_0=1$$
$$F_1=1$$
$$F_i=F_{i-1}+F_{i-2}, \forall i \ge 2$$

Задача: вывести первые n чисел фибоначи.

# Функции

## Функции - возможность определить небольшой кусок кода для его переиспользования

In [51]:
def mult(a,b):
    return a*b

print mult(2,3)

6

In [52]:
def swap(a,b):
    return (b,a)

x = 5
y = 9

print swap(x,y)
print x,y
x,y = swap(x,y)
print x,y

(9, 5)
5 9
9 5

In [53]:
def spruce(n):
    for i in range(n):
        for j in range(n-i-1):
            print ' ',
        for j in range(i+1):
            print j,
        for j in range(i):
            print i-j-1,
        print

spruce(5)
spruce(5)
spruce(5)
spruce(5)

        0
      0 1 0
    0 1 2 1 0
  0 1 2 3 2 1 0
0 1 2 3 4 3 2 1 0
        0
      0 1 0
    0 1 2 1 0
  0 1 2 3 2 1 0
0 1 2 3 4 3 2 1 0
        0
      0 1 0
    0 1 2 1 0
  0 1 2 3 2 1 0
0 1 2 3 4 3 2 1 0
        0
      0 1 0
    0 1 2 1 0
  0 1 2 3 2 1 0
0 1 2 3 4 3 2 1 0

# Задачи

## Написать функцию, решающуб квадратное уравнение вида $a x^2 + b x + c = 0 $

In [ ]:
def solve(a,b,c):
    ???

x1, x2 = solve(12,13,11)
print x1
print x2