In [11]:
!ls

en_movie_classification.ipynb  negative_tweets.txt  positive_tweets.txt
negative.csv		       positive.csv	    Untitled.ipynb

In [12]:
pos = open('positive_tweets.txt', 'r').readlines()
neg = open('negative_tweets.txt', 'r'). readlines()

In [13]:
pos[:10]

['Да, все-таки он немного похож на него. Но мой мальчик все равно лучше:D\n',
 'RT @KatiaCheh: Ну ты идиотка) я испугалась за тебя!!!\n',
 'RT @digger2912: "Кто то в углу сидит и погибает от голода, а мы ещё 2 порции взяли, хотя уже и так жрать не хотим" :DD http://t.co/GqG6iuE2…\n',
 '@irina_dyshkant Вот что значит страшилка :D\n',
 'Но блин,посмотрев все части,у тебя создастся ощущение,что авторы курили что-то :D\n',
 'ну любишь или нет? — Я не знаю кто ты бля:D http://t.co/brf9eNg1U6\n',
 'RT @SpoonLamer: Ох,900 :D ну это конечно же @twinkleAYO . Чтобы у нее было много друзей, ведь она такая мимими &lt;3\n',
 'RT @veregijytaqo: У тебя есть ухажёр? Нет - мои уши не кто не жрёт :D\n',
 'Поприветствуем моего нового читателя @Alexey1789 ;)\n',
 'Теперь у меня есть частичка Сиднея :) #Sydney #SydneyOperaHouse http://t.co/agnto3CZEi\n']

In [74]:
import re
strin = re.compile('[а-яА-Я]+')
pos_clear=[]
pos_words=[]
for j in range(1000): 
    res = re.findall(strin, pos[j])
    pos_clear.append(' '.join(res))
    pos_words.extend(res)
neg_clear=[]
neg_words=[]
for j in range(1000):
    res_ = re.findall(strin, neg[j])
    neg_clear.append(' '.join(res_))
    neg_words.extend(res_)

In [75]:
pos_words = set(pos_words)
print(len(pos_words))
neg_words = set(neg_words)
inter = pos_words.intersection(neg_words)
pos_words = pos_words - inter
neg_words = neg_words - inter
print(len(pos_words))
print(len(neg_words))

4056
3035
2920

In [76]:
import pandas as pd 
import numpy as np
print(len(pos_clear+neg_clear), len(list('1'*1000)+list('0'*1000)))
data = pd.DataFrame({'tweets': pos_clear+neg_clear, 'ton': list('1'*len(pos_clear))+list('0'*len(neg_clear))})
data.head()

2000 2000

                                              tweets ton
0  Да все таки он немного похож на него Но мой ма...   1
1                 Ну ты идиотка я испугалась за тебя   1
2  Кто то в углу сидит и погибает от голода а мы ...   1
3                           Вот что значит страшилка   1
4  Но блин посмотрев все части у тебя создастся о...   1

In [77]:
data.tail()

                                                 tweets ton
1995  каждый новый день похож на предыдущий только д...   0
1996  Доктор сказал что по крайней мере два месяца п...   0
1997  задумка о том как написать что бы оно работало...   0
1998  В обласной центр на квартиру потому что на дан...   0
1999  Вчерашний ПВД на км оказался полным Назад ехал...   0

In [78]:
def count(x):
    s=0
    for i in x.split(' '):
        if i in pos_words:
            s+=1
        if i in neg_words:
            s-=1
    return s/len(x.split(' '))

data['predict'] = data.tweets.apply(count)
data.head()

                                              tweets ton   predict
0  Да все таки он немного похож на него Но мой ма...   1  0.071429
1                 Ну ты идиотка я испугалась за тебя   1  0.285714
2  Кто то в углу сидит и погибает от голода а мы ...   1  0.285714
3                           Вот что значит страшилка   1  0.250000
4  Но блин посмотрев все части у тебя создастся о...   1  0.357143

In [86]:
TP = data[(data.predict>0) & (data.ton=='1')].shape[0]
FP = data[(data.predict<0) & (data.ton=='1')].shape[0]
TN = data[(data.predict<0) & (data.ton=='0')].shape[0]
FN = data[(data.predict>0) & (data.ton=='0')].shape[0]
print('acuracy: ', (TP+TN)/2000, 'presicion: ',TP/(TP+FP))

acuracy:  0.9285 presicion:  1.0